[2021-06-24 15:46] phackstock opened #8 "Relative definition of path in Nomenclature"
The relative definition of the `path` variable in the `__init__` of  `Nomenclature` `def __init__(self, path="definitions")` can lead to problems when the workflow where it is used is not started from the parent directory of `definitions`.

One possible fix would be to remove the default and require it to be set explicitly in every workflow in the following pattern:

`Nomenclature(Path(__file__).a

[2021-06-30 08:58] khaeru opened #10 "Reuse/consider alignment with iTEM / SDMX code"
The [iTEM](transportenergy.org) package ([`transport-energy`](https://github.com/transportenergy/database) on PyPI) contains a submodule `item.structure` that has related, but somewhat distinct, goals to this package.

This issue is to explain/discuss those goals and the resulting design, and to identify code or patterns that can be reused (or adapted) from `transport-energy` to here, or vice vers

[2021-06-30 09:10] khaeru commented on #10
In terms of **community process**, points I made on today's IIASA/ECE call:
- For a given concept, e.g. [FUEL](https://github.com/transportenergy/database/blob/c92baa3944d852cbf0eaddc0b2a7982a679ac744/item/structure/base.py#L266-L298), it is possible to create *more than one code list*.
- Different users or modelers can (should!) directly describe the codes that appear in the internal structure of

[2021-07-01 14:43] #8 closed

[2021-07-08 12:07] danielhuppmann opened #16 "Shorten `file` attribute in codelists"
All items in a codelist have an attribute `file` to identify from which file the code was imported - this might be helpful in debugging in more complex nomenclatures.

The file name should be saved relative to the definitions folder, not relative to the working directory.

[2021-07-31 12:32] danielhuppmann opened #18 "Revise name for the main class"
When migrating this work from the prototype developed in https://github.com/openENTRANCE/nomenclature, I kept the name of the main class `Nomenclature`. However, **nomenclature.Nomenclature** is not an ideal name...

So... what is a better name for the class that holds several `CodeLists`, i.e., one list of allowed values per dimension (*variable* including units, *region*, ...) to be used in a pa

[2021-08-01 05:03] danielhuppmann opened #19 "Add feature to check for valid ranges of values"
It is often useful to validate that values of timeseries are within a specified range.

Similar packages implement constraints:
 - https://github.com/sentinel-energy/friendly_data
 - https://github.com/transportenergy/database

[2021-08-16 10:08] khaeru commented on #18
Calling the class _X_ for the moment, I think this maps exactly to what SDMX Information Model calls a **DSD**, or **data structure definition** ("DataStructureDefinition" as a class name).

Other thoughts (without repeating anything said in the linked issue):
- As far as I can tell, one _X_ can refer to multiple Codelists, but only one Codelist per concept/dimension. For instance, there cannot be

[2021-09-01 15:26] phackstock opened #20 "Region-Mapping for scenario explorer workflows"
Opening the issue per discussion with @danielhuppmann.

We want a function which can do region aggregation given two inputs: `df: IamDataFrame` and `mapping_path: pathlib.Path`. It should return the aggregated `IamDataFrame`.

Some open points:

* Should the returned dataframe **only** contain the aggregated regions or also the original constituent regions?
* Should the function make use of the re

[2021-09-02 07:56] stefanpauliuk commented on #20
The common way of aggregating data (assume data are in some multi-index table format) is a matrix multiplication:
Agg_Data = Agg_Matrix.dot(Full_Data)
The 'old' classification disappears and the new classification is returned.
Therefore, I prefer to only return data for the new (target) set of regions.

for an n:1 aggregation, the Agg_Matrix can be condensed as list: which old position is added to

[2021-09-06 12:15] danielhuppmann commented on #20
Thanks @stefanpauliuk for chiming in. Your answer is correct in a matrix sense, but pyam uses a different data format internally - and the question was intended about which of the existing pyam methods to use.

About the "not just simple sum", this was meant about things like a weighted average, not splitting model-native regions across compare-regions. This would be an interesting use case, but i

[2021-10-08 10:45] danielhuppmann opened #24 "Use schema validation for nomenclature definitions"
Seeing the nice implementation by @phackstock of the model-region-configuration parsing in #22 gave me two ideas how to improve the structure for variables and regions:

1. Implement a schema validation of the yaml files
2. Change the structure of the definitions files from a simple dictionary
[code]
to a list of dictionaries:
[code]
This would allow to safeguard against duplicate entries within o

[2021-10-13 11:19] danielhuppmann commented on #18
Revisited this thread and I consider the key point from this issue closed with the renaming to **DataStructureDefinition** - please re-open or start another issue if relevant items remain unanswered.

[2021-10-14 10:02] phackstock opened #25 "Check for collision within a set of region mappings"
Building on #22, one of the next steps in verification is to check that there are no collisions within all of the provided mappings.
Illustration of one failure scenario:
Given `mapping_1`:
[code]
`mapping_2`:
[code]
Alternatively it could also be that in `mapping_2` we have a region called `native_region_b` which we end up renaming `alternative_name`.
In any case a next step in region mapping cou

[2021-10-14 10:17] phackstock opened #26 "Check for allowed regions"
Building on #22, the next step should be to integrate `RegionAggregationMapping` with `DataStructureDefinition` in order to verify that all specified native regions as well as common regions are allowed.

[2021-10-14 13:05] #25 closed

[2021-10-14 14:49] phackstock opened #27 "Check for model mapping collisions"
We should include a check that assures that we only have **one** mapping per model.

From my point of view the main question in terms of implementation would be how to handle these tasks which are related to an ensemble of mappings. If we only only need this one check I would say we can do it inside a function that creates a dictionary should do, like something along those lines:
[code]
However, a

[2021-10-14 16:17] danielhuppmann commented on #26
Happy to share my thoughts...

1. There is a misunderstanding about the aim of the `DataStructureDefinition.validate` method - it validates an **IamDataFrame** instance (e.g., an upload by a modelling team) against an instance of the **DataStructureDefinition** initialized from a project-specific directory (i.e., correct variables and regions). It is *not* a validation of the nomenclature-yaml fil

[2021-10-20 12:07] #24 closed

[2021-10-20 16:04] danielhuppmann opened #30 "Implement a testing-module CLI"
The **nomenclature** package already has a testing module ([see here](https://github.com/IAMconsortium/nomenclature/blob/main/nomenclature/testing.py)), which is currently used as part of the automated testing of the irp-internal-workflow repository ([see here](https://github.com/iiasa/irp-internal-workflow/blob/main/tests/test_core.py)).

The aim of this testing module is that in any repository w

[2021-10-29 10:27] phackstock opened #33 "Add file name to errors in RegionAggregationMapping"
Currently, if we have an error validating a `RegionAggregationMapping` we only get the cause of the error but not the file where that mapping is saved. In case of a big number of mapping files searching for the correct one can become a tedious task. Especially when thinking about further validation steps, i.e. checking for model collisions and validating against `DataStructureDefinition`.

### Pro

[2021-11-04 11:02] #33 closed

[2021-11-05 12:30] #27 closed

[2021-11-08 13:20] #26 closed

[2021-11-08 14:26] phackstock commented on #20
Now that I'm getting around to implement this feature two design questions came up:

1. What happens if we there is no mapping defined for a given model? Do we just not do anything and pass the IamDataFrame untouched, write a warning, or even throw an error? Alternatively we could also require a model mapping but allow that to be empty, i.e. just a `model` parameter and nothing else.
2. Let's say

[2021-11-08 16:38] danielhuppmann commented on #20
Good questions @phackstock:
1. Yes, if no mapping is defined for a model, then the IamDataFrame is returned untouched by the region-processor. I would not write a warning - instead write an info to the log "Applying region mapping for model {model}".

2. I'd say that if an entry `native_regions` exists in the config, then only the renamed native-regions and the aggregated common-regions (if any) a

[2021-11-08 16:58] #30 closed

[2021-11-09 09:07] phackstock commented on #20
Ad 1. Perfect, I'll implement it that way.
Ad 2. In keeping with the zen of python 'explicit is better than implicit' I would propose an additional, optional attribute in the mapping called `all_native_regions` or `upload_all_native_regions` or something along those lines. We could say that either simply adding this would upload all native regions or we could require `all_native_regions: True`.

[2021-11-09 09:39] phackstock opened #36 "Clean up leftovers from renaming to `DataStructureDefinition`"
There are some leftover references to `Nomenclature`, the old name of the `DataStructureDefinition` class.
From taking a quick look I've found references in `validation.py`, `conftest.py`, `test_core.py`, `test_region_aggregation.py`, `test_testing.py` and `test_validation.py`.

[2021-11-09 09:45] danielhuppmann commented on #20
To limit the scope of the ongoing development, I'd keep the option of a "direct pipeline" as a feature request for the future for now, because I expect a number of tricky corner cases.

So (changing what I said a while ago), if a mapping exists, the RegionProcessor returns only the (possibly renamed) native-regions and the computed common-regions.

[2021-11-09 09:48] phackstock commented on #20
Ok sounds good.

[2021-11-11 12:59] #20 closed

[2021-11-12 07:01] danielhuppmann opened #40 "Region processing: skip variable"
When refactoring the https://github.com/openENTRANCE/nomenclature to work with this new package, I realized that it would be helpful to have a "skip"-option for variables in a DataStructureDefinition.

Options:

1.
[code]
2.
[code]

Or maybe use "exclude" instead of skip?

Any thoughts @phackstock @peterkolp?

[2021-11-12 10:15] phackstock commented on #40
Just to avoid confusion by skipping you mean that it would not be returned as part of `RegionProcessor.apply(df)` right?
Do we need an explicit skip option, would it not work if we just leave it out?
If we need it I would vote for option 2 for two reasons. Using `skip-region-processing` is more descriptive in my opinion and a boolean is easier to validate/assert/parse.

[2021-11-12 10:26] danielhuppmann commented on #40
For clarification: there could be a variable which we want to include in the native regions as part of an upload (so the variable has to be in the `DataStructureDefiniton` for validation), but where pyam does not (yet) support the correct regional aggregation - so we want to exclude it from `RegionProcessor.apply()`.

[2021-11-12 10:28] phackstock commented on #40
Ah ok so maybe `skip-region-aggregation` or `do-not-aggregate` would be more precise?

[2021-11-12 10:29] danielhuppmann commented on #40
Preference for `skip-region-aggregation`...

[2021-11-12 10:30] phackstock commented on #40
Sounds good.

[2021-11-12 11:54] #36 closed

[2021-11-12 14:02] phackstock opened #42 "Add Logging to region processing"
As of right now there is no logging happening in the context of region processing.
This should be changed prior to the first release.

[2021-11-12 14:06] danielhuppmann commented on #42
Thanks for opening this issue. I'd go for very short logging, one line per "model" in the IamDataFrame instance:
 - if no mapping file exists: "No region aggregation mapping found for model {model}"
 - else: "Applying region aggregation mapping for model {model} from file {file}"

[2021-11-12 14:23] phackstock commented on #42
That should be on the info level right?
Should we log errors as well?

[2021-11-12 14:34] phackstock commented on #42
Ah alright, I'll keep it to info then.

[2021-11-15 08:21] #42 closed

[2021-11-15 12:14] danielhuppmann opened #46 "Shorten `file` attribute of a RegionAggregationMapping"
Similar to #16 and #45, ideally, the `file` attribute of a `RegionAggregationMapping` should be relative to the `mappings` folder of a project.

[2021-11-15 13:38] phackstock commented on #46
I'll get on that right after reviewing #45

[2021-11-15 17:55] phackstock opened #47 "Improve error reporting"
As discussed in #45 we should improve the error handling in `nomenclature/validation.py:validate`.

Currently we report a generic error and all the information about the invalid values is only given in the logging.
The advantage of this pattern is that we run through all validation steps so in a single go we get the complete picture of **all** invalid values. If we were to throw individual errors

[2021-11-15 18:30] #16 closed

[2021-11-16 11:15] danielhuppmann opened #48 "Performance improvement for region-aggregation processing"
The current implementation iterates over all common-regions, then creating the variable-kwargs-dictionary, then iterating over each variable.

Two ways to significantly improve performance:
1. create variable-kwargs-dictionary before iterating over common regions
2. The pyam `aggregate_region()` method can take a list of variables if there are no additional arguments (weight, method, ...). So the

[2021-11-16 16:19] #40 closed

[2021-11-16 16:26] phackstock commented on #48
Ad 1. Ah yes, that's a blunder on my side, sorry for that. Just issued #50 that addresses this.
Ad 2. That was my initial design but I found it clearer to read if I just a a single variable dictionary that I iterate over and then pass the kwargs to `pyam.IamDataFrame.aggregate_region()`instead of creating two. Would it actually bring a performance boost if we gave it a list of variables or just de

[2021-11-16 17:00] danielhuppmann commented on #48
Yes, because pyam doesn’t iterate over the variables - it uses pandas.groubpy() only once for the list of variables.

[2021-11-16 18:40] phackstock commented on #48
Then the question would be how pandas solves the groupby because at some point there has to be a loop. It might be not be implemented in python though and would therefore might be faster than a native python loop.

[2021-11-18 07:22] danielhuppmann opened #53 "Start proper docs"
Set up a proper Sphinx-docs structure with the following sections:

- Overview and scope (pointing to openENTRANCE as the first use case, referencing pyam as the main dependency, with openENTRANCE and Horizon 2020 ackowledgement as in the current README)
- Usage (focus on the yaml format)
  - Code lists (region, variable with units, tags, generic)
  - Region mappings
- API documentation
- CLI docu

[2021-11-18 07:24] danielhuppmann commented on #53
- @LauWien, could you take a first pass with setting up the Sphinx structure (using the same layout as pyam), and then take care of setting this up on ReadTheDocs?
- @phackstock, could you add the content of the usage?

[2021-11-18 07:40] danielhuppmann opened #54 "Validation of datetime format"
The openENTRANCE project uses subannual time resolution with the datetime format in two flavors:
- datetime format as a "time" column
- datetime format *without the year* in a "subannual" column plus a "year" column

Read the description in the [openentrance repository]( https://github.com/openENTRANCE/openentrance/tree/main/definitions/subannual#daily-or-hourly-resolution).

PR https://github.com

[2021-11-18 09:30] LauWien commented on #53
Does IAMconsortium has an own RTD account so I can set it up? Right now I think I can only set up a documentation for RTD for all IIASA repositories and my own repositories, but not for this package.

[2021-11-18 16:50] phackstock opened #56 "Add Zenodo entry"
We want to have a zenodo entry for the nomenclature package.
This should update itself for every new release.

[2021-11-18 16:52] phackstock opened #57 "Automate release"
For future releases of the nomenclature package on pypi we want a GitHub action that automatically updates the pypi entry.

Inspiration may be taken from the [`publish.yaml`](https://github.com/IAMconsortium/units/blob/main/.github/workflows/publish.yaml) workflow from the units package.

[2021-11-18 16:57] phackstock opened #58 "Create custom GitHub action for validating projects"
As a number of projects use the nomenclature package in form of a GitHub action for validation of their data structure definitions and their region mappings it would be nice to add a GitHub action to this repository.
This GitHub action can the be used directly in the various projects.

This is what this action might look like:
[code]

[2021-11-19 12:52] #48 closed

[2021-12-03 08:54] phackstock opened #67 "Order of validation & aggregation"
This issue is in response to openENTRANCE/openentrance#130.

There is an issue that can occur related to the order of operations for validation and region aggregation.
The way these two steps were originally supposed to be run is like this:

[code]

That brings a problem because `df` contains might contain regions that are not in the DataStructureDefinition. That might not be a problem though as t

[2021-12-03 11:42] danielhuppmann commented on #67
For clarification: the quick-fix workaround `validate variables, apply-region-processing, validate regions` cannot lead to errors in the database, but there is a risk that mistakes are made when setting up or maintaining/updating a project workflow.

I would advise against putting too much logic into the simple functions - `RegionProcessor.apply()` "applies a mapping if it exists and otherwise ret

[2021-12-03 11:43] phackstock opened #68 "Add definitions and mappings folder options to the cli"
Following the discussion in #64, it emerged that the CLI currently looks for folders called "mappings" and "definitions" in `cli.cli_valid_project`.
While these two names are a good standard they should be able to be modified as we allow the same when instantiating `RegionProcessor` and `DataStructureDefinition`.

[2021-12-03 12:46] phackstock commented on #67
Good point about putting too much logic into `RegionProcessor.apply()`.
I like the idea of putting everything into a single function.
What I don't like about the layout that this would create is the strange relationship that `RegionProcessor` and `DataStructureDefinition`.

Right now we instantiate `RegionProcessor` with the directory of the mappings plus a `DataStructureDefinition` instance. So `

[2021-12-03 12:56] #53 closed

[2021-12-03 13:19] danielhuppmann commented on #67
Sounds like a good approach to disentangle the two main classes and flip the direction of dependency.

Two suggestions:
 - make the new function for consistency between definitions and model-mappings a method of the **RegionProcessor** class and call it `validate()`...
 - call the validation method *always* as part of the `apply(IamDataFrame, DataStructureDefinition)`, i.e.,
[code]
     Normally,

[2021-12-03 13:39] phackstock commented on #67
Ah very good idea, that should be the least amount of effort.

[2021-12-06 14:57] danielhuppmann opened #69 "Allow "filtering by DataStructureDefinition""
The currently implemented `validate()` method raises an error if any row of an **IamDataFrame** is not defined in the codelist of a **DataStructureDefinition**.

There is a secondary use case where we want to filter (downselect) an **IamDataFrame** by the codelists of an **DataStructureDefinition**.

This could be done already now by the following:

[code]

This would not ensure that units are cor

[2021-12-06 15:54] phackstock commented on #69
Very good design question, I think we should bring @meksor into this to get a third opinion. Not only about this but about our classes so far in general.
From my point of view, I would prefer to keep it as is since I don't think that `df.filter(region=dsd.region, variable=dsd.variable)` is particularly ugly. It clearly shows the user what's going on and does not add any dependencies on either side

[2021-12-07 14:17] meksor commented on #69
I agree with Philip entirely!

[2021-12-07 15:40] danielhuppmann opened #70 "Mismatching region results in empty IamDataFrame after processing"
The new implementation of the `RegionProcessor.apply()` does the following to a submitted scenario (if a model-region-mapping exists):

 - keep list of model-native regions (possibly with renaming)
 - perform aggregation of common-regions from model-native regions

and returns the combination of these two. This means that any regions in the scenario data that are not defined as model-native-region

[2021-12-07 15:53] phackstock commented on #70
@danielhuppmann agree with you assessment that 3 is not the way to go. It might be technically correct in the sense of 'you submitted nothing, so you get nothing' but it definitely breaks the principle of least surprise.
Is there a setting imaginable where someone would want to submit an empty scenario?
If this is not the case I would say that `RegionProcessor` should raise an error directly.
The

[2021-12-07 16:57] phackstock commented on #67
As I'm looking into implementing this, I'm thinking about where to put the `process` function. Your proposal @danielhuppmann was to implement it as part of the `DatastructureDefinition` class as `DatastructureDefinition.process`, however I'm not convinced this is the right place.
Here's my reasoning, the implementation would look something like this:

[code]
From my view `process` should be its ow

[2021-12-08 10:36] danielhuppmann opened #71 "Add "dimensions" arg to validation CLI"
Projects/repositories will use non-default dimensions in their "definitions", so it would be helpful to add this as an optional argument to `nomenclature.testing.assert_valid_structure()` and also enable passing this via the `validate-project` CLI.

Related to #68.

[2021-12-09 09:11] danielhuppmann commented on #67
Makes a lot of sense!

What I would do as a prepration step, though, is a renaming of the files to make the structure more logical (and avoid using the word "models" in file names).

- `core` -> `definition`
- `codes` -> `codelist`
- `codes_models` -> `code`
- `region_mapping_models` -> `processor.region`
- `region_mapping_errors` -> `error.region`

Then, the new `process()` function can be the fi

[2021-12-09 09:21] phackstock commented on #67
Ah yeah good idea.

Just one quick clarifying question with `processor.region` and `error.region` you mean making it into its own `region` module with `processor.py` and `error.py` inside?

[2021-12-09 09:32] danielhuppmann commented on #67
Well, I guess that we will have several "processor"-types, so what I meant was to have a `processor`-subfolder with the different types of processors inside. But either way is fine...

[2021-12-09 09:33] phackstock commented on #67
Ah right, a `processor` subfolder and an `error` subfolder, yes let's do that.

[2021-12-10 12:49] phackstock commented on #71
Should be reasonably quick to implement. Who should take this one myself or @LauWien since she did the CLI originally?

[2021-12-10 13:00] phackstock commented on #69
Can we close this @danielhuppmann?

[2021-12-10 14:21] #69 closed

[2021-12-10 14:23] danielhuppmann commented on #71
I created the issue more as a reminder for the medium-term development. Let's leave this until next year...

[2021-12-13 10:26] #67 closed

[2021-12-13 17:32] phackstock opened #75 "Make aggregation region validation optional"
As I was updating the documentation for #74 I found a possible corner case that we are currently not covering.

Let's assume the following:
1. We have a `DataStructureDefinition` with a _region_ dimension.
2. We use a `RegionProcessor`.
3. We do not want to validate the _region_ dimension, so we provide a custom _dimension_ list to `process`.

As part of `RegionProcessor.apply` we currently check

[2021-12-14 07:27] danielhuppmann commented on #75
Good observation, but I don't think this is a high-priority corner case... I'd keep that on a list for "implement when the first use case emerges".

[2021-12-14 08:24] phackstock commented on #75
Alright, sounds good, let's keep the issue as a reminder in case.

[2021-12-15 14:06] danielhuppmann opened #78 "Clean up API docs"
There are three issues in the API docs:

 - The intersphinx mapping to `nomenclature.RegionProcessor` currently does not work because the API docs are built with automodule, see the comment by @phackstock: https://github.com/IAMconsortium/nomenclature/pull/77#issuecomment-994814351
 - The auto-docs of the pydantic-based classes show a lot of functions that are not relevant to the users
 - Having t

[2021-12-16 10:15] phackstock commented on #78
I guess I'll take this one after #76 is completed.
Comments from my side on the three points (in order):
* Should be easy to fix
* Should I only include `process`, `DataStructureDefinition` and `RegionProcessor`?
* I'll take a look to see if there's an option for sphinx to exclude those from the docs. I agree it makes it really hard to read but for development I like to have them in the code. I'm

[2021-12-16 10:57] phackstock commented on #78
Found the solution for the third point https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_typehints
In `conf.py`:

[code]
With the difference between 'description' and 'none' being that if there are no type hints in the doc string 'description' will add them while 'none' will not do anything.

[2021-12-16 11:13] danielhuppmann commented on #78
I'd also add `CodeList` and `RegionAggregationMapping`. My comment was aimed at functions like `update_forward_refs()` or the different `parse_*()` methods - at the current stage where each class has only two or three relevant methods, it would be preferably to list them explicitly rather than using auto-docs...

[2021-12-17 11:12] danielhuppmann opened #80 "Double-check package config"
When installing the package (editable) in a new conda environment, I see the following in the list of installed packages:

[code]

Seems like something is incorrect with setup.cfg?

[2021-12-17 11:25] LauWien commented on #80
I guess it might be this [line](https://github.com/IAMconsortium/nomenclature/blob/main/setup.cfg#L12), which should say `packages = nomenclature-iamc` since it's published on PyPi with that name.

[2021-12-17 11:56] phackstock commented on #80
As far as I understand `packages` simply tells setuptools what folders to install.
If you compare pyam's setup.cfg https://github.com/IAMconsortium/pyam/blob/main/setup.cfg there's the same setup with packages = pyam and name = pyam-iamc.
So I don't think that's the culprit.

[2021-12-17 12:10] phackstock commented on #80
I just looked at the commit hashes, the first one is from July 6th. The second one is the one before the currently latest.
Could this be an older install on your system?
I think the way virtualenv works is that it looks for packages not only in the virtual environment but also systemwide. It's just that the ones in the virtual environment take priority. Not sure how it is for conda environments th

[2021-12-17 12:36] danielhuppmann commented on #80
Uninstalling conda...

[2021-12-17 13:29] danielhuppmann commented on #80
So even after re-installing conda from scratch, I get the following in the list of installed packages...
[code]

And I think I have identified the culprit:
- `nomenclature-iamc` refers to the installed **nomenclature** package (installed editable pointing to the GitHub clone)
- `nomenclature` refers to the installed CLI (located in the Scripts-folder of the conda environment, not the Lib)

So I th

[2021-12-17 13:29] #80 closed

[2021-12-20 08:48] #78 closed

[2022-01-11 13:46] danielhuppmann opened #81 "Migrate from IIASA-internal validation prototype"
This issue collects useful utility scripts for migrating a scenario-processing repository related to an IIASA Scenario Explorer, I started developing scripts to translate the prototypes to the **nomenclature** package. I create this issue for future reference.

# Variable template

[code]

# Region mappings

[code]

[2022-01-18 10:08] danielhuppmann opened #82 "Perform aggregation and rename"
In the ECEMF project, we came across the issue where several region-aggregation configurations for the same variable should be performed. The particular use case: for carbon prices, it can be beneficial to compute weighted averages using alternative weights:

 - the "obvious" solution to use CO2 emissions as weights, but this can lead to strange results if weights go negative (see https://github.c

[2022-01-18 10:13] danielhuppmann commented on #82
Comments @phackstock @Renato-Rodrigues?

[2022-01-18 13:37] Renato-Rodrigues commented on #82
If you want to support alternative weight definitions at the same time, e.g. `Price|Carbon (weighted by Final Energy)` and `Price|Carbon (weighted by gross emissions)` you would need to add multiple items to the weight field and the rename field. E.g.
[code]
This is specially important to support supply side models, as them will most of the time need to use different weight variables in comparison

[2022-01-18 17:07] danielhuppmann commented on #82
Good call, @Renato-Rodrigues!

[2022-01-18 18:13] phackstock commented on #82
Looks like a sensible solution to me. Should not be terribly difficult to implement with the appropriate checks, things like:
* Are the lists in weight and rename the same length
* Are the entries in rename unique
* ...

[2022-01-19 17:03] danielhuppmann commented on #57
Because the current status of this repo is not available on pypi, I had to do a little work-around in the **openentrance** repo, first installing the requirements and then doing `pip install -e .` (because it seems to be not possible to refer to GitHub-repos in `setup.cfg`), see https://github.com/openENTRANCE/openentrance/pull/145.

This is a reminder to update the installation instructions of th

[2022-01-23 11:36] danielhuppmann opened #84 "Allow multiple "model" values in a region-mapping file"
The "model" attribute in a region-processing mapping-file currently only takes a string value. It would be beneficial to allow this to be a list so that one region-mapping can be used to several (minor/patch) versions of a model.

So the extended use of the region-mapping file could look like the following (based on https://github.com/openENTRANCE/openentrance/pull/148):

[code]

or

[code]
depend

[2022-01-23 11:36] danielhuppmann commented on #84
FYI @HauHe

[2022-01-24 08:24] phackstock commented on #84
Looks good to me conceptually. I like adding the version logic for `native_regions` where I would leave out the minor version and it would match all the corresponding major ones.
The only thing I'm wondering though is how often does a model version typically change during the course of a model comparison study?
If the number is smaller than 3 or so I would say adding additional mappings is the way

[2022-01-24 13:23] HauHe commented on #84
Hi, I'm not sure how much work this would require. But I'd guess that modelled region is not changing very frequently. Even though we are planning to expand our coverage.

[2022-01-24 14:02] danielhuppmann commented on #84
We can discuss whether to do model-mappings at a major or minor level in the project-repositories.

This issue here is only to discuss (and remember) the requirement of mapping multiple models (or model versions) to a region-aggregation config. No need to implement this right away, but have the use case on our radar (and tackle it when there are a few minutes to spare).

[2022-01-24 16:46] phackstock opened #85 "Only `yaml` files are found not `yml`"
When scanning a directory for region aggregation mappings, only `.yaml` files are found while  `.yml` is ignored.

[2022-01-24 16:48] phackstock opened #86 "Errors in reading definition files should include the file name"
Title says most of it. Currently when ready definition files into a code lists, whenever we encounter an error we do not report the file where it originated.
This makes troubleshooting more painful than it needs to be.

[2022-01-24 16:51] phackstock opened #87 "Weighted region aggregation fails when weight is missing"
When performing weighted region aggregation it needs to be made sure that both the variable and the weight are present in **all** model, scenario combinations.
From my point of view it would be desirable if it would produce a warning if there are only a couple of model, scenario combinations where weight and/or variable are missing and an error if that's the case for all.
Maybe this is more well s

[2022-01-26 11:27] danielhuppmann opened #88 "Refactor tags to f-string style"
The current use of `<Tag>` could be changed to `{Tag}` to be closer to Python f-string formatting.

Given that there are currently only two or three repositories using tags, this should be a manageable task to implement the change and update the repos simultaneously.

Thoughts @phackstock?

[2022-01-26 11:45] phackstock commented on #88
I like the idea.
While not everyone might be familiar with python f-strings it might be a good learning opportunity.
Additionally, for people familiar with languages such as html or xml it might remove potential for confusion as `<tag>` has a different meaning there. While  as far as I'm aware curly brackets do not have any special meaning.

[2022-01-28 10:11] #82 closed

[2022-01-28 14:15] #57 closed

[2022-01-28 14:54] #88 closed

[2022-02-03 22:50] danielhuppmann commented on #47
I guess that this can be closed? Or are there specific instances where this is still an issue?

[2022-02-04 07:37] danielhuppmann opened #96 "Partial region-aggregation for common-regions"
There is a use case where part of the timeseries data for a region is included in the **IamDataFrame** (e.g., scenario data uploaded to the IIASA Scenario Explorer), and other part of the data is aggregated from the sub-regions (as is currently done by the region processor).

A simple solution would be to keep any timeseries data for common-regions and only compute the aggregate-region-data for ot

[2022-02-04 08:34] phackstock commented on #47
Ah yes I forgot to link the issue in the PR, this can be closed. If there's any more issues that I've overlooked I'll just open a new issue.

[2022-02-04 08:39] #47 closed

[2022-02-04 11:19] #85 closed

[2022-02-17 12:11] #84 closed

[2022-02-18 11:51] danielhuppmann opened #102 "Raise/warn if unexpected regions exist for region-processing"
The **RegionProcessor** currently silently removes all regions that are not native regions (and once PR #99 is merged, common regions).

This can be confusing for users who successfully upload a data file to the Scenario Explorer but then do not find the removed regions in the Explorer.

Question:
1. fail loudly by raising an error if there are unexpected regions
2. write a warning to the log of t

[2022-02-18 12:39] phackstock commented on #102
That is a difficult design decision, as you said there are cases to be made for both options.
The crux of the decision lies in my opinion in the fact that there are two possible root causes for additional regions:

1. They are somehow model internal debug/test regions which are **not intended** for upload but exported as results anyway. (If such a use case exists)
2. A region that **is intended**

[2022-02-18 14:05] HauHe commented on #102
Having a common expextable behaviour for regions, variables and scenarios as Johannes suggest sounds very sensable.
I tend to prefer getting an error message. Then I'm sure that I know that something went different then I might have expected. However, in our scripts that bring the results into IAMC format it is rather easy to exclude e.g. variables that I don't want to upload. But I also see that

[2022-02-22 09:30] phackstock opened #103 "Check if resulting IamDataFrame is empty"
In `processor.region.RegionProcessor.apply` we currently check if the list `processed_dfs` is empty and raise an error if it is.
In addition to this check we need to perform another check to see if the individual frames are longer than 0.
If all of them are 0 we raise an error.

[2022-02-23 11:34] phackstock commented on #102
One more option (slightly more involved though but maybe worth considering), would be to raise an error for unexpected regions **unless** they are specified as _exclude_ in the model mapping, something like this:

[code]

The difference would be that the presence of _diagnostic_region_ would initially cause an error which would prompt the user to either remove it from the upload or add it to the `

[2022-02-23 11:47] danielhuppmann commented on #102
Sounds like a good approach to me, but I would add this as a section at the same level as `native_regions` and `common_regions`. Maybe called `exclude_regions` or `ignore_regions`...?

[2022-02-23 12:25] phackstock commented on #102
Ah yes, agree it should be at the same level as `native_regions`. I would prefer `exclude_regions`.

[2022-02-24 12:14] danielhuppmann opened #104 "Raise all duplicate-errors during initialization"
Currently, only a unique duplicate-code error is raised during initialization (e.g., from `validate-project`). It would be great to collect all duplicates and raise one pydantic-error-collection.

[2022-03-07 09:55] phackstock opened #105 "Common region completeness check"
When writing tests for #99 I accidentally discovered a possible bug (or at the very least unexpected behavior) in the current implementation of region aggregation.

## Issue outline

The bug occurs as follows:

Suppose we have a model mapping:

[code]

If we now upload data that only contains `region_A` and run the aggregation, it will happily spit out an aggregated value for `common_region_A`. As

[2022-03-07 10:10] danielhuppmann commented on #105
For the pyam `aggregate()`-method, the pyam docs (see [here](https://pyam-iamc.readthedocs.io/en/stable/api/iamdataframe.html#pyam.IamDataFrame.aggregate)) make clear that missing values (components) is interpreted as 0. The `aggregate_region()` follows the same logic (but without an explicit note in the docs). So I would see that as (somewhat) expected behavior.

[2022-03-07 10:13] phackstock commented on #105
Alright, I see, still maybe a bit dangerous I think.
Should we leave it as is, add notes to the nomenclature docs, write logging info, ...?

[2022-03-07 10:14] danielhuppmann commented on #105
Let's revisit the discussion after merging #99

[2022-03-08 09:53] #96 closed

[2022-03-08 10:21] phackstock commented on #103
Almost completely addressed by #99.

[2022-03-08 10:40] phackstock commented on #105
We could revisit this now. Maybe as part of a bigger documentation improvement effort.

[2022-03-08 11:06] danielhuppmann commented on #105
I think https://github.com/IAMconsortium/pyam/pull/637 would be helpful for implementation... To avoid too much filtering. Hope I get to review this later today...

[2022-03-08 15:28] phackstock commented on #105
Ah yes that would be nice.

[2022-03-09 11:01] phackstock commented on #56
Closing this as we have a zenodo record: https://zenodo.org/record/5930654

[2022-03-09 11:01] #56 closed

[2022-03-09 13:25] phackstock commented on #81
Two small changes to the code for the region mappings:
* Adding two if statements for "native_regions" and "common_regions" to cover the case that one of them is missing.
* Changed the dictionary key from `mapping.model` to `", ".join(mapping.model)` as `mapping.model` is now a list instead of a string. (Maybe we should change that again making `mapping.model: Union[str, List[str]` instead of `Lis

[2022-03-09 14:09] danielhuppmann commented on #81
Agree... Maybe as a folder/module of **ixmp-server-workflow** - after all, this concerns mappings and code that was used by project-specific code called from the scenario-import functionality there.

[2022-03-09 14:18] phackstock commented on #81
Ah yes that would make sense. I'll open a PR there.

[2022-03-11 09:17] danielhuppmann opened #108 "Restructuring the documentation"
The current documentation sections "Getting Started" and "Usage" are not as useful or easy-to-understand as they should be.

Here is a suggestion for a new structure:

0. Remove "Installation" as own page
1. Change "Getting started" to have the following sections:
   - Installation: what previously was on the "Installation" page
   - Project-specific configuration: explain that each project has a

[2022-03-11 09:18] danielhuppmann commented on #108
What do you think, @phackstock?

[2022-03-11 09:31] phackstock commented on #108
Thank you for the proposed outline @danielhuppmann, agree with all of the above. That structure makes a lot more sense.

[2022-03-17 13:38] phackstock commented on #102
@danielhuppmann as I'm looking into the implementation I've thought of the following case and was wondering how to handle that.
Assuming we have a model that reports "World" level data and since we have partial region aggregation we put "World" on the category `common_regions`.
If we now add "World" to `exclude_regions` what should happen? Should we raise an error since a region cannot be in `comm

[2022-03-17 13:55] danielhuppmann commented on #102
I would say that any region name can only one of
- a (target) name of the `native-region` OR
- a `common-region` OR
- an `exclude-region`
raising an error if a region is in more than one group.

I would keep the current behavior:
- native-regions: keep (with rename)
- common-regions: keep as reported if region exists, otherwise compute aggregate (and compare for info purposes)

[2022-03-21 16:29] #102 closed

[2022-04-01 08:17] danielhuppmann opened #111 "Implement processor to "undo" region processing"
It can be useful/required to "undo" or reverse the renaming done as part of the region-processing, so taking the model-native-in-ensemble-region-names and rename to model-native-as-used-originally-region-names.

My hunch is that this would be better implemented as a new type of processor (instead of an argument of `RegionProcessor.apply()` or a new method there), so that we can easily call a list

[2022-04-01 08:17] danielhuppmann commented on #111
cc @phackstock

[2022-04-01 09:35] phackstock commented on #111
Thanks @danielhuppmann for opening the issue.
My first thought is concerning the case in which the mapping changes between the upload and the download, i.e. potential renaming. Since the model mappings are versioned we could "rewind the clock" and use the one as it was in place when the data was uploaded. Although just because it is technically possible, does not automatically make it a good idea.

[2022-04-13 09:44] phackstock opened #112 "Raise error if region processing returns empty result"
As it currently stands, the region processor assembles the final result of the processing by concatenating a list of `IamDataFrame` objects stored in `processed_dfs` (https://github.com/IAMconsortium/nomenclature/blob/main/nomenclature/processor/region.py#L447).
Before that it is checked that the list `processed_dfs` is not empty, however the way the test is currently done checks only if the list

[2022-04-20 14:04] phackstock opened #114 "Improve aggregation comparison"
A use case that emerged from NGFS scenario submissions (but also applies to any other scenario comparison exercise) is to improve the usability of the comparison feature which is part of the partial regions aggregation.
A typical comparison output might look like this, taken from [https://data.ece.iiasa.ac.at/ngfs-internal/#/uploads/jobs/189/log:](https://data.ece.iiasa.ac.at/ngfs-internal/#/uploa

[2022-04-21 08:37] phackstock opened #115 "Allow single value input for DataStructureDefinition"
When creating a new `DataStructureDefinition` object it would be nice to specify a single dimension just as a string and not a list which only contains one string, i.e. instead of:

[code]

it would be nice to do this:

[code]

The same goes for `DataStructureDefinition().validate(df, dimensions=['region'])`.

[2022-04-26 14:14] phackstock opened #116 "Single constituent common region can lead to unexpected results"
This is the result from a conversation with @pweigmann.
The partial region aggregation feature can lead to unexpected results if it is only comprised of a single common region, e.g.:

[code]

this configuration is not super rare as it can often be the case that a region, that a model natively reports, `region_a` in the example, falls under the category of a comparison region. In this case, no aggr

[2022-05-03 09:26] danielhuppmann commented on #116
If I understand this correctly, this is not actually a bug but rather potentially unintuitive behavior. It is true that the highly generic example above is confusing, i.e.,

[code]

but in an actual project setting, this would like as follows:

[code]

In my opinion, this is not a major reason for concern, but rather highlights that we need to improve our documentation, not change the logic of the

[2022-05-03 09:29] #112 closed

[2022-05-03 10:41] phackstock commented on #116
I partially agree, for sure the documentation needs to be better, I'll make sure I get on that right away.

There are, however, in my opinion two issues that go beyond that:

1. Potential for data loss: If the `common_region` in question is renamed as is your example `- Europe: EUR`, the resulting data will be obtained through region processing alone. Not only is this unnecessary work, making the

[2022-05-04 13:15] danielhuppmann commented on #116
As a suggestion for 1, we could split out common-region mappings that only have one component and treat them via renaming.

For 2, I still believe that a clear separation into common regions (used for comparison in a project) vs. native region is the more intuitive approach for modelers. The alternative (assuming you would want to save the native region and the compare-region) would be to have
[co

[2022-05-04 13:28] phackstock commented on #116
Both proposed points sound good to me, let's do it that way.

[2022-05-17 16:54] #108 closed

[2022-06-09 07:53] #116 closed

[2022-06-21 10:28] danielhuppmann opened #126 "Support *required* variables and regions"
Per a discussion with @znicholls and @lewisjared.

The validation currently only checks that variables/regions/... of a scenario (as an **IamDataFrame**) are defined in the **DataStructureDefinition**. We have use cases for the opposite direction: whether data for a list of required variables/regions exists in the scenario.

Related: pyam has a method [`require_variable()`](https://pyam-iamc.readt

[2022-06-21 10:40] phackstock commented on #126
Do I understand option 1. correctly that this would mean that each upload would have to contain _every_ variable?
In case it is that way I would say options 2. and 3. are the better ones.
We could also do it a different way, by creating something like a minimum specification for input data. This could cover every dimension, `model`, `scenario`, `variable`, `year(s)`, etc...
Something like this:
[c

[2022-06-21 12:56] phackstock commented on #126
Ah right. Just so that I understand this correctly, this means that there would be two folders in the openENTRANCE project then. One for the list of all allowed variables and one for the list of required variables for, in this case, MAGICC?
In this case I think it might make sense to start talking about centralizing these post-processing specific variable requirement lists. They should be largely

[2022-06-21 13:02] danielhuppmann commented on #126
Yes, but that is not a discussion to be had in this repository or this issue... First, we need to be able to "require" variables in the **nomenclature** package.

[2022-06-21 13:12] lewisjared commented on #126
For case 1) is the test that *at least* the required set variables/regions are provided or that *exact* set of variables/regions are provided? i.e explode if additional information is provided.

Ideally downstream models are indifferent to additional data, but some may not be. Is that something that you would want to support?

[2022-06-21 13:18] danielhuppmann commented on #126
For 1, if there is a "require-all" feature, the list of variables (and units) and regions would have to be an exact match.

The way that the **nomenclature** API is structured, you can easily use the codelists to downselect an **IamDataFrame**. If you look closely in the example above, you'll see that only the filtered **IamDataFrame** is used for the validation.

[code]

[2022-06-26 05:58] danielhuppmann opened #127 "Support checking consistency across the variable hierarchy"
There is a use case for checking consistency across the variable hierarchy (or for computing variables higher-up in the hierarchy automatically from its components).

Aggregation along the variable hierarchy and checking consistency is already supported by the pyam methods [`aggregate()`](https://pyam-iamc.readthedocs.io/en/stable/api/iamdataframe.html#pyam.IamDataFrame.aggregate) and [`check_aggr

[2022-06-27 09:26] christophbertram commented on #127
It would be good to design this from the start with the functionality of adding more than one list of components, e.g. for Final Energy having both the components

as well as the alternative components

The check-aggregate would potentially also be activated only for one list.

[2022-06-27 13:10] lolow commented on #127
Should it be done using 1 unique entry for the variable or using multiple:

unique entry:
[code]
multiple:
[code]

[2022-06-27 14:22] danielhuppmann opened #128 "Validate against stray tags"
If a tag is mis-spelt, a project could have codes like `Final Energy|{Feul}` (where the tag should be `Fuel`.

We could add a check to `assert_valid_structure()` to ensure that no curly brackets exist in any code.

[2022-06-27 16:03] lolow commented on #127
or with better naming:

[code]

[2022-06-29 21:32] lolow commented on #127
Will it be possible to catch the sublevel of `components`, in case of many, and to print it in the check report when an inconsistency is found? I think that would be helpful.
Thanks!

[2022-06-30 06:00] danielhuppmann commented on #127
Yes, I'll implement it such that there is a printed log (for usage on the Scenario Explorer) and a complete error report as xlsx (for local usage).

cc @robertpietzcker & @Renato-Rodrigues because we also discussed this feature for the ECEMF project...

[2022-07-04 14:06] phackstock opened #132 "Check that weight variables exist"
We want to verify that the variable values provided as a `weight` argument for weighted aggregation are present in the variable list as their own entries.
For example a variable defined like this:

[code]

would need a entry for `Population`, e.g.:

[code]

Currently, as far as I'm aware, this is not being checked.

[2022-07-06 05:44] danielhuppmann opened #134 "Check that components variables exist"
Similar to #132 & #133 following the merging of #131, per [a suggestion](https://github.com/IAMconsortium/nomenclature/pull/131#pullrequestreview-1027377375) by @phackstock: implement a validation that all variables listed in "components" must be defined in the variable codelist.

[2022-07-06 05:47] #127 closed

[2022-07-06 12:01] phackstock commented on #134
I'll try to implement that one today. Should not take a crazy long time. After that I would say it's time for another release.

[2022-07-06 16:41] phackstock opened #135 "Components list violates CodeList definition"
As I was trying to get the new component check tests working on #133 I found a somewhat sneaky error/inconsistency in the way that `CodeList` is using `CodeList` recursively for specifying a list of components as a dictionary.

## Description

As it stands, in `cast_variable_components_args` (https://github.com/IAMconsortium/nomenclature/blob/main/nomenclature/codelist.py#L104), if we have a list

[2022-07-07 16:07] danielhuppmann commented on #135
I agree, this was not an elegant solution. The main reason is that I wanted to reuse the casting from a list of single-key-dicts to a dictionary provided by CodeList, including guarding against duplicates and ensuring that there is exactly one key in each entry.

[2022-07-07 16:13] phackstock commented on #135
Right, the reasoning totally makes sense, thanks for the quick PR, I'll take a look.

[2022-07-07 16:23] danielhuppmann opened #137 "Refactor the CodeList class to a generic VariableCodeList class"
The **CodeList** class is becoming bloated and hard to read because there are several exceptions and special treatment for variables. We could create a subclass **VariableCodeList** to separate general and dimension-specific features.

[2022-07-08 11:21] #132 closed

[2022-07-25 07:35] phackstock opened #138 "Navbar in docs does not expand enough"
## Problem outline
In the [docs](https://nomenclature-iamc.readthedocs.io/en/stable/) the navbar on the left side does not expand deep enough when navigating to a section.

## Example

![image](https://user-images.githubusercontent.com/20710924/180721271-bfbda04c-0869-4e3f-8ae3-0cba6439db2f.png)

In the example we're in the section `Validaiton using Codelists`. For convenience, the navbar on the l

[2022-07-25 08:29] phackstock opened #139 "Add suggestd fixes to error messages"
## Problem outline

As we've seen over the last few weeks our error messages are not yet on a level where users can help themselves.

From looking at the messages it seems that we are currently providing a description of the problem but not yet of the fix. In some cases this might not be possible as the error might be too complex but there should be some standard cases where the fix is obvious.

#

[2022-07-25 14:13] danielhuppmann commented on #71
On further thought: currently, [`nomenclature.testing.assert_valid_structure()`](https://nomenclature-iamc.readthedocs.io/en/stable/api/testing.html#nomenclature.testing.assert_valid_structure) only validates the *variable* and *region* dimensions.

Going forward, the behavior should be as follows:
- by default, all sub-folders in `definitions` are validated
- if a value for *dimensions* is given

[2022-07-26 07:29] danielhuppmann commented on #138
Ok, I'm taking a look at fixing the tac-depth and restructuring the user guide...

[2022-07-26 08:07] phackstock commented on #138
Perfect, thank you.

[2022-07-26 15:13] #138 closed

[2022-07-27 11:10] Renato-Rodrigues opened #141 "feature request - support for model tag in native regions definition"
Request:
Support the use of a tag, e.g. <model>, instead of the literal model name to support multiple models that use the same region mapping in a single region mapping file.

You can find a more comprehensive description at this PR:
https://github.com/openENTRANCE/openentrance/pull/207

[2022-07-28 10:11] phackstock opened #142 "Add How-To section to the docs"
As we are starting to roll out nomenclature to a number of projects, users are adding their model mappings.
One common pitfall that I've seen is that while a model mapping is added, the corresponding region definition is not.
This causes the CI to fail and requires assistance from our side to fix.
This could be a good start to a How-To/Quickstart guide so that users can help themselves.
Thanks @kh

[2022-08-02 09:42] phackstock commented on #137
I was starting to take a look at this issues yesterday and wanted to share some thoughts before getting started:

* Maybe we can drop the usage of the the `Code` class. The reason for suggesting this is that, to me somewhat counterintuitively, a `CodeList` does not actually contain `Code` instances. The `Code` class is merely used for parsing and for replacing the tags. The former use could in my

[2022-08-10 08:18] luciecastella commented on #71
Hello!
I think my implementation works now.
A few questions still to make sure it's correct:
- Should the non-default dimensions only be the variables on an IamDataFrame (variable, scenario, ...) or could it be a random name? I figured it could be anything because of issue 68 but let me know.
- Now we can pass any number of arguments in the terminal like this "nomenclature validate-project path/my

[2022-08-10 08:18] danielhuppmann opened #145 "Documentation of common region vs. model-native region"
Per this comment by @luciecastella in https://github.com/IAMconsortium/nomenclature/issues/144#issuecomment-1210296974_, it would be useful to have an own section explaining the difference between a "common" region vs. a "model_native" region. Could be an own new sub-page of the user guide or in the Region section of the "codelist" page.

[2022-08-10 08:26] danielhuppmann commented on #145
Looking at the docs again, I think pulling our the "variable" and "region" sections from `codelist.rst` to own pages (and only keep the generic info on that page, plus links to the detailed pages for the more complex dimensions) is the best approach...

[2022-08-10 08:32] danielhuppmann commented on #71
As a first PR, I would only add the feature to pass a list of dimensions via the CLI (and not worry about #68 yet).

I would expect a CLI like
[code]
so that we can add more options later.

As mentioned by @phackstock yesterday, it would be good to have one passing and one failing test. To make it easier for the reviewer, it would be useful to clearly name the test-data folders like "cli-dimension

[2022-08-10 08:36] phackstock commented on #145
That is what you have implemented in #140 right (minus the links on the codelist.rst to "variable" and "region")? It's just not in the "stable" part of the docs yet since it's not part of the latest release. In the "latest" version (https://nomenclature-iamc.readthedocs.io/en/latest/user_guide.html) we have that split. Maybe we should think about another release once #144 is merged.

[2022-08-10 08:39] danielhuppmann commented on #145
Right, I just looked at the default (stable) docs page on RTD. Good to know that at least my thinking is consistent over time... 😜

And yes, @luciecastella, up to you to do a release after tackling #144!

[2022-08-10 08:50] danielhuppmann opened #146 "Add instructions for developers"
@phackstock added the GitHub Actions workflow for publishing a release on pypi in #90, but did not add explicit instructions for (new) developers.

I suggest to add a `DEVELOPING.rst` file using the "Release" section of the developer-notes of the iam-units package as a starting point (see [here](https://github.com/IAMconsortium/units/blob/main/DEVELOPING.rst)). The instructions should be pretty mu

[2022-08-10 08:52] danielhuppmann commented on #146
The **pyam** package has a much more elaborate release procedure, see [here](https://github.com/IAMconsortium/pyam/blob/main/RELEASE_PROCEDURE.md) - many aspects are not relevant to the **nomenclature** package, but maybe good to read through and see if something might be useful.

Quick thought: nomenclature is not released via conda (so not relevant), but the docs are hosted on RTD (so this is re

[2022-08-10 09:26] #142 closed

[2022-08-10 09:29] luciecastella commented on #71
OK thank you very much! Now I am stuck... Do either of you know how to pass a list as an option in CLI?

[2022-08-10 09:37] phackstock commented on #71
Looking at the click documentation quickly, this looks like a promising start https://click.palletsprojects.com/en/8.1.x/options/#multiple-options.
Also when you open a PR you can choose to open it as a draft PR which might be a good idea in this case, then we can discuss more closely to the code. Once it's all ready you set it to "ready for review". https://github.blog/2019-02-14-introducing-draf

[2022-08-10 09:44] luciecastella commented on #71
Great thank you!!

[2022-08-10 14:57] luciecastella opened #148 "Plateform dependant tests' success"
It seems that some tests (test_codelist_to_yalm and test_definition_with_custom_dimensions) do not work on Windows : the tests both check paths and the reference seems to have a different convention as the actual path on Windows.
See images below

![image](https://user-images.githubusercontent.com/63099114/183934932-59c46190-4593-4520-88b1-e373e897e6e2.png)

![image](https://user-images.githubuser

[2022-08-10 15:25] phackstock commented on #148
Thanks for raising this @luciecastella. Looking at it quickly, I think the easiest way to fix this would be to replace the string paths used in the tests for comparison, `scenario/scenarios.yaml` and `simple_codelist/foo.yaml` with `pathlib.Path` objects and then use their string representations in the tests.
Pathlib (https://docs.python.org/3/library/pathlib.html) is a super useful part of the st

[2022-08-10 16:28] danielhuppmann commented on #148
You're on the wrong track about the source of the error, @phackstock.

This issue is not about running the tests per se, but about a particular feature of the nomenclature package: when reading definitions from yaml files, the path of the file is added as an attribute to the dictionary-codelists, see
https://github.com/IAMconsortium/nomenclature/blob/4a57d2fcb0454de127d17bc95611453e4b2168de/nomenc

[2022-08-10 17:08] phackstock commented on #148
Sorry for not being clear enough, I re-wrote my answer and reading it back it's not super understandable.

What I wanted to say is that I am aware of the origin of the error and my first thought was to change the exact line that you mentioned https://github.com/IAMconsortium/nomenclature/blob/4a57d2fcb0454de127d17bc95611453e4b2168de/nomenclature/codelist.py#L231
To use the `pathlib.PurePath.as_pos

[2022-08-11 05:13] danielhuppmann commented on #148
My apologies for misinterpreting your answer - I think I was projecting another problem that I ran into recently...

My idea about `.` was to use that as regex-matching so that it wouldn't matter whether its `/` or `\`...

But I think your suggestion with `as_posix()` is better. The *file* attribute is only meant to be for information (find where a variable is defined if there are multiple yaml in

[2022-08-11 08:00] phackstock commented on #148
No problem, I'll go ahead with the `as_posix()` option then.
Regarding the tests, I would say it might be useful to run a full set of Windows, Mac OS and Ubuntu as nightly tests. Then we can make sure that we don't accidentally introduce bugs for people who develop on Windows. Since we're in a public repo anyway we don't have to worry about the costs. Do you think this would be a good way to go ab

[2022-08-11 09:00] #148 closed

[2022-08-17 12:50] #68 closed

[2022-08-18 08:30] phackstock opened #154 "Refine cli error tests"
As for right now the tests for the cli that are supposed to fail only check _that_ the command failed and not _how_.
As part of improving error reporting the testing should test for the error message.

[2022-08-18 08:43] phackstock opened #155 "Check user input for assert_valid_structure"
In `testing.assert_valid_structure` the default for `mappings` is currently `"mappings"`.
If a folder of the name `"mappings"` does not exist there is currently no error raised. Reason being that there's no way to know if this was the default (in which case no error should be raised) or a user provided value, in which case there should be an error.

[2022-08-18 10:08] #71 closed

[2022-08-18 10:29] danielhuppmann opened #157 "Add validation-CLI option to check 'all' dimensions"
Building on #147.

We have several projects where we also use the "scenario" dimension for validation, eg https://github.com/iiasa/ariadne-intern-workflow, and we sometimes run into the problem that PRs that change the scenarios-codelist do not trigger the validation but then fail in production (ie when users upload a scenario data file).

We could now change the GitHub Actions workflow in that re

[2022-08-18 12:19] danielhuppmann opened #158 "Use numpystyle correctly in docstrings"
I noticed that in #153, @luciecastella added docstrings structured as

[code]
whereas the correct numpy-style would be
[code]
See https://numpydoc.readthedocs.io/en/latest/format.html#parameters

Also, it's not necessary to explain that something is non-default - that is (usually) clear from the function signature.

Please fix after #156 is merged

[2022-08-18 12:29] #155 closed

[2022-08-18 14:34] #158 closed

[2022-08-19 11:48] luciecastella commented on #157
Would
<run: nomenclature validate-project . --dimensions "['all']">
Also work? It really is not really pretty, but I do not think I can change the class for dimensions and it currently needs a literal value. Otherwise, we could think about another option? Something like <--all_dimensions> ?

[2022-08-19 11:55] phackstock commented on #157
I would say the question is more _should_ it work, i.e. should giving a list of dimensions which includes "all" evaluate everything.
From looking at it quickly I would say that something like:
[code]
should work since the `ast.literal_eval(value)` should convert it to a single string. If you want I can take this issue.

[2022-08-19 11:58] danielhuppmann commented on #157
Simply expanding the selection to
[code]
seems to work, at least for passing the right string to the following function.

What you'd need to add in the cli (or maybe even in `testing.assert_valid_structure()`?) that the code checks which folders exist in *path*...

[2022-08-19 12:06] danielhuppmann commented on #157
Thinking one step further, it might even make sense to simply switch the default behavior of `testing.assert_valid_structure()` to use "all"? So that we don't even have to change any of the tests in GitHub Actions workflows (but have the option to make tests less strict by explicitly specifying which dimensions to check).

[2022-08-19 12:09] phackstock commented on #157
@danielhuppmann yes good point, that should be the best option.
Unless dimensions are specified, evaluate all.
That would mean updating the default value of the cli and of `testing.assert_valid_structure()`. This way we could also leave the `dimensions` attribute to be `List[str]` only instead of `Union[List[str], str]`.

[2022-08-19 12:11] luciecastella commented on #157
Great ideas thank you! Yes good point with the default behavior. So no need for the command line?
@phackstock I can try to figure it out and I'll tell you if you need to take over, OK for you?

[2022-08-19 12:12] phackstock commented on #157
@luciecastella sounds good. You can see how far you get and if you get stuck just open a draft PR and I can take over then.

[2022-08-19 12:24] danielhuppmann commented on #157
Right, to clarify the agreement:
- the CLI uses `None` as default but allows to accepts a list (using `ast.literal_eval()` if a value is given)
- the testing function uses `None` as default -> reading all folders in `definitions`, or accepts a list of dimensions explicitly.

[2022-08-19 12:25] danielhuppmann commented on #157
So there is no need to bother with a string "all", but the docstrings should specify the (new) behavior clearly.

[2022-08-19 12:31] phackstock commented on #157
@danielhuppmann yes to all of the above. That looks like a really clean way to me.

[2022-08-23 10:29] #145 closed

[2022-08-23 12:47] #157 closed

[2022-08-24 12:37] #128 closed, assigned to luciecastella

[2022-08-24 19:40] danielhuppmann opened #164 "Raise error if code has trailing whitespace"
Per the PR https://github.com/openENTRANCE/openentrance/pull/222 by @Renato-Rodrigues: it would be useful to add a validation that any code (variable, region, scenario name) cannot end on a whitespace.

[2022-08-25 08:40] luciecastella opened #165 "Variable and Region definition not mandatory anymore"
I realised that now that the program checks for all the dimensions to be found when nothing is specified, it will just validate the ones it founds. Meaning we could totally have just a scenario folder with no variable and region definition and it would pass the validation. This was not the case before as they were in the default value. Should we change that and require variables and regions when n

[2022-08-25 08:50] luciecastella commented on #164
Do you know which error did it trigger? because trailing whitespaces are automatically erased and codes in the codelist have none, even if the files has some.

[2022-08-25 08:57] danielhuppmann commented on #164
Ah, interesting to know that the pyyaml automatically removes trailing whitespaces (just tested this myself). I think that in this case, there is no need to protect against them from the point of view of the nomenclature package.

[2022-08-25 09:00] Renato-Rodrigues commented on #164
It was not a whitespace. It was some other hidden formatting character.

![image](https://user-images.githubusercontent.com/33692508/186621628-bed3ee4b-e198-4dce-8063-524624128279.png)

(https://github.com/openENTRANCE/openentrance/pull/222)

[2022-08-25 09:19] danielhuppmann opened #166 "Add convention on model-specific region naming"
Add a clear description to the docs why we have `<Model>|<Region>` convention and reuse across minor/patch-versions.

[2022-08-25 09:25] danielhuppmann commented on #165
I think that this behavior is fine. But following up on our discussion, it would be useful to raise an error if no sub-folders exist in `definitions`.

[2022-08-25 09:30] danielhuppmann commented on #137
Per our discussion, there are several steps that should be taken (as separate PRs):
- [ ] Create a sub-class `VariabeCodeList` and move variable-specific code there
- [ ] Create a sub-class `RegionCodeList` and move region-specific code there (in particular with the hierarchy-inversion when reading the yaml files)
- [ ] Investierte strategies to remove the `Code` class (per suggestions above)

[2022-08-25 09:55] luciecastella commented on #164
OK interesting, I'll see if there is a way to check that. Thank you!

[2022-08-25 10:12] danielhuppmann commented on #164
Reopening as this might be a useful validation check after all...

[2022-08-25 15:30] luciecastella commented on #164
@danielhuppmann after some discussion with @phackstock , we concluded that we should check for all the lines of the yaml files, and therefore make it a function in `testing.py`. Now the question would be: do we want to check all yaml files to make sure there are no special character anywhere, or only in the dimensions specified by the user? (related to Issue #165)

[2022-08-25 16:28] danielhuppmann commented on #164
Good question @luciecastella...

My initial idea would have been to simply define a list of illegal characters/expressions and then check that a code does not have any of those. I think that this would be enough for what I had in mind, and you would have the benefit of not having to worry about which sub-folders/dimensions to check.

You could do the more elaborate check in `testing.assert_valid_y

[2022-08-26 05:09] danielhuppmann commented on #164
One more follow-up: some users create the yaml files from Excel, see the tests for this feature as illustration [here](https://github.com/IAMconsortium/nomenclature/blob/a5a8789c6f0b1e28dec9a838e2cd6346a18f39b0/tests/test_definition.py#L71). Now, it's quite easy to overlook trailing whitespaces (not special characters, just simple spaces) in Excel, and the result in yaml is something like
[code]
S

[2022-08-26 07:05] luciecastella commented on #164
@danielhuppmann So what you are saying is checking only the codes and not the attributes? Wouldn't that be a problem if for example a unit has a hidden character? Because I first implemented that, but to be precise, we need to check codes, name of attributes, attributes, and then sometimes it goes further into more dictionaries of dictionaries and it becomes a mess. But I think checking only the c

[2022-08-26 09:36] danielhuppmann commented on #164
I wanted to say that we should have two separate new features (and two separate PRs):
- Check against a list of illegal characters in every line as part of assert_valid_yaml (which is called by „validate-project“)
- Check against trailing whitespace in any code as a pydantic-validator when initialising a CodeList

[2022-08-26 11:08] luciecastella commented on #164
Ah ok thank you! Will do

[2022-08-29 15:10] #165 closed

[2022-08-30 14:31] danielhuppmann opened #175 "New release v0.6"
Just fixed a little bug in #171 for @willu47 and @HauHe, see https://github.com/OSeMOSYS/osemosys2iamc/pull/23#issuecomment-1231734834 - could you please make a new release v0.6 asap so that they can continue their work on the **osemosys2iamc** package?

[2022-08-30 14:34] phackstock commented on #175
Sure, no problem, if it's only minor changes, should we go for v0.5.1 or v0.6?

[2022-08-30 14:36] danielhuppmann commented on #175
I wouldn't make life too complicated and just go for v0.6.

[2022-08-30 14:38] phackstock commented on #175
Alright will do

[2022-08-30 14:44] phackstock commented on #175
We are live with v0.6 https://pypi.org/project/nomenclature-iamc/.

[2022-08-30 14:45] danielhuppmann commented on #175
Thank you very much!

[2022-08-30 14:45] #175 closed

[2022-08-31 08:05] luciecastella opened #176 "Add yamllint"
Following @phackstock 's suggestion, we should inclue the YAML linter that checks for syntax validity, indentation, trailing whitespaces,... (see if checks for whitespaces at the end of codes and hidden characters are still useful or not)

[2022-08-31 08:36] phackstock commented on #176
This is the package in question that I found: https://pypi.org/project/yamllint/. Might be able to replace/enhance some of the yaml checking we are currently doing.

[2022-09-07 13:37] luciecastella commented on #176
I checked more closely the package and how it works. It seems to be not totally relevant for our use-case:

- It checks whitespaces but only at the end of a line since it takes a yaml file as input: I cannot see own to use that for codes, and the trainling whitespace on a line is actually not a problem except for aestetics
- I ran it with the special character, and it does not find it.
- One thing

[2022-09-08 08:08] luciecastella opened #180 "Inconsistent use of `description` and `definition` in codes"
Some projects use `description` and others `definition` as code attribute. This should maybe be unified. Which one is more relevant? Maybe `description`?

[2022-09-08 08:08] luciecastella commented on #180
@danielhuppmann @phackstock

[2022-09-08 08:52] danielhuppmann commented on #180
Yes, I would move to "description" as the default in new projects, this is also in line with the documentation [here](https://github.com/IAMconsortium/nomenclature/blob/main/doc/source/user_guide/variable.rst).

However, some (legacy) projects have neither of the two, so we should not make it a required attribute (yet).

[2022-09-08 11:46] danielhuppmann commented on #176
Agree, doesn't seem very useful... Thanks for investigating @luciecastella!

[2022-09-14 14:28] danielhuppmann opened #181 "Validate "directional" data"
In the openENTRANCE project, we introduced a `>` character to define "directional" variable, for example trade flows from Country A to Country B. The region code then has the structure: `Austria>Germany`, see [here](https://github.com/openENTRANCE/openentrance/tree/main/definitions/region#directional-timeseries-data) for more info.

It would be useful that the nomenclature validation also checks t

[2022-09-23 08:39] danielhuppmann opened #182 "Summary errors of trailing whitespaces"
Currently, the validation against trailing whitespaces only shows the first occurrence of such an error (not all). It would be more user-friendly to show all errors as part of the pydantic-ValidationError...

[2022-10-04 10:57] phackstock opened #183 "CLI help options too crowded"
When using the CLI and consulting the `--help` option for `nomenclature validate-project`, I noticed that the output is currently a little crowded:

[code]

It seems that click is mashing up multiple doc strings.
Should be easy enough to clear that up.

[2022-10-04 11:39] phackstock opened #184 "Better formatting for error messages"
Some error messages are currently somewhat hard to read, example:

[code]

simply introducing a few strategically placed line breaks should make things better:

[code]
or something along those lines.

[2022-11-07 17:48] phackstock opened #189 "Attribute access"
One potential pitfall that I stumbled upon when finalizing #186 and then #188 was the breaking change that we are about to introduce with regards to attribute access.

The main update that we are about to introduce is that now a `CodeList` contains a list of `Code` instances. To be more precise it is not a list of `Code` instances but actually a dictionary mapping the name of the `Code` to the its

[2022-11-08 08:45] danielhuppmann commented on #189
When in doubt, do what pandas does... 😜 And pandas actually supports both `df.column` and `df["column]` for a column!

But that's probably overkill, so I agree with you that the attribute-access is more intuitive and faster to work with.

[2022-11-08 08:49] phackstock commented on #189
Ah right, of course pandas allows for both. I don't think doing both will cost that much more implementation time so I'll try to do both.

[2022-11-08 08:50] danielhuppmann commented on #189
Actually, I rescind my earlier comment - let's not do both, because there is no real benefit and only possible confusion.

I guess pandas only does it for legacy reasons or to allow access if the column.name shadows a proper attribute.

Let's do attribute-access-only here...

[2022-11-08 08:52] phackstock commented on #189
Ok sounds good as well. I'll implement that as part of #188.

[2022-11-11 11:46] phackstock opened #190 "Restrict attribute values"
As discussed in #188 we want to restrict the names of the additional attributes to only be valid python identifiers so that they can be accessed like this:

[code]

therefore a check is needed for additional attributes preventing attributes like `some-additional-attribute`, `2-more-attributes`, etc...

[2022-11-11 12:50] phackstock opened #191 "Simplify Code.attributes type hint"
Now that `Code.attributes` is only used to hold additional dict style named attributes and no longer values related to region processing we should be able to simplify the type hint from:
https://github.com/IAMconsortium/nomenclature/blob/70cbe0b3651a486d3fabdc52e3af2e0ed8be0347/nomenclature/code.py#L11-L28

[code]

[2022-11-11 12:50] #189 closed

[2022-11-11 12:54] phackstock opened #192 "Remove no longer needed validation schema for VariableCode"
Now that the attributes of `VariableCode` are fixed in the class the validation schema is no longer needed.

[2022-11-11 12:56] danielhuppmann commented on #192
I guess that we can remove the json-schema validation entirely? We should need to validate that the yaml files are correctly parseable - all other validation (correct structure, etc.) could be moved to pydantic... But we should probably do this step by step.

[2022-11-11 13:02] phackstock commented on #192
Getting rid of the json-schema crutch entirely is very much the goal. The two places where I think we need it right now is for the regions and the tags. But of course that is nothing that cannot be addressed in the code directly. For now though I'd keep it to just removing the variable-schema.

[2022-11-11 13:03] phackstock opened #193 "Add file attribute to the Code class"
Right now we're always adding the file attribute to any instance of `Code` and derived classes.
This should qualify it to become its own named attribute.

[2022-11-11 13:04] phackstock opened #194 "Add RegionCode class"
For improved clarity it would be nice to add a `RegionCode` which has the additional attribute hierarchy.

[2022-11-15 16:38] phackstock opened #198 "Using weight in tag does not work"
Tag substitution does not work when using `weight`.
Most likely extends to any named variable.

[2022-11-16 06:56] phackstock commented on #198
Addressed in #199.

[2022-11-22 15:22] #191 closed

[2022-11-22 15:57] #190 closed

[2022-11-26 08:35] danielhuppmann opened #203 "RegionProcessor "native-region-rename" drops mappings"
While toiling away at the GAINS-linkage workflow, I noticed some unexpected behavior of the nomenclature package.

For GAINS, we need to map model-native regions in a 1-to-n-manner: the values for the MESSAGE region WEU have to be copied/renamed to the GAINS regions Austria, Germany, etc., so the resulting dataframe must have ~181 regions from the MESSAGE-native 11.

My initial plan was to simply

[2022-11-27 07:24] danielhuppmann commented on #203
After thinking about this for for an afternoon, I think that option 1 makes a lot more sense, so I refactored the engage-gains-mapping via https://github.com/iiasa/engage-gains-mapping/pull/4

[2022-11-28 10:53] phackstock commented on #203
Good question @danielhuppmann, I've though about it for a while and I think your original solution with:

[code]

would have actually worked just not in the way you were probably expecting.

I created a quick test locally with a super simple mapping:

[code]

which after reading in with `RegionAggregationMapping.from_file("mapping_file.yaml")`, I got this:

[code]

In other words, the parsing righ

[2022-11-28 10:56] danielhuppmann commented on #203
Yes, only one renaming "survives" because the `rename_mapping` attribute creates a dictionary and thereby does condenses to a unique value for each key (not multiple target values).
See https://github.com/IAMconsortium/nomenclature/blob/57b08f759d7a5ec7e2129355196164d96810ab6d/nomenclature/processor/region.py#L270

[2022-11-28 11:32] phackstock commented on #203
Ah yes of course, sorry for not catching that. Ok then we should definitely do something about it as this is for sure undesired behavior.
I agree with you that we should definitely do something about it. The smallest possible change I suppose would be a validator in `RegionAggregationMapping` to check that the native regions are unique and throw an error if they are not.
Then again, the use case f

[2022-11-29 08:39] phackstock commented on #126
Coming back to this issue as the MAGICC use case is high on the list right now.
I really like to idea of re-using the codelists, either by having a `required` attribute in the original codelist or having a separate one.
The one potential limitation that I would see is that we would essentially combine "everything with everything". An example of that would be requiring a timeseries variable to be p

[2022-11-29 09:32] danielhuppmann commented on #126
Suggestion: we create a new class **WorkflowProcessor**, which has its own folder "workflows" (similar to `mappings` for the RegionProcessor) with a specific yaml structure.

Attributes:
- name (instead of "required_for")
- required_timeseries

The WorkflowProcessor can be called via `nomenclature.process(df, dsd, processor=a_workflow_processor)`.

[2022-11-29 09:53] phackstock commented on #126
Sounds good to me. I'll get on that.

[2022-11-30 07:25] danielhuppmann commented on #203
Reading through this discussion again, I think that the confusion from having multiple (duplicate) native-regions is the bigger concern compared to using common-regions for a renaming like it is needed for GAINS.

So I suggest to simply guard against the kind of mistake that I made by adding a validation that the keys and values of the native-region section must be unique.

[2022-11-30 09:23] phackstock commented on #203
Good point, let's stick with keeping it simple and just safeguard against mistakes.

[2022-11-30 12:09] #203 closed